<a href="https://colab.research.google.com/github/washingtongomes/dio-desafio01-github/blob/main/Aula03_Explorando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use("seaborn")

In [24]:
#upload
from google.colab import files
arq = files.upload()

Saving AdventureWorks.xlsx to AdventureWorks.xlsx

In [27]:
df = pd.read_excel("AdventureWorks.xlsx")

In [8]:
df.head()

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
1,2008-05-12,2008-05-17,306,384,19051,200805123CS567,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
2,2008-05-14,2008-05-20,306,384,19052,200805143CS576,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
3,2008-05-21,2008-05-27,306,384,19052,200805213CS576,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red
4,2008-06-20,2008-06-27,306,384,19053,200806203CS586,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red

In [9]:
df.shape

(904, 16)

In [10]:
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

In [11]:
df["Valor Venda"].sum()

5984606.1426

In [13]:
df["Custo"] = df["Custo Unitário"].mul(df["Quantidade"])

In [14]:
df.head

<bound method NDFrame.head of     Data Venda Data Envio  ID Loja  ID Produto  ID Cliente       No. Venda  \
0   2008-05-09 2008-05-29      199         384       18839  200805093CS607
1   2008-05-12 2008-05-17      306         384       19051  200805123CS567
2   2008-05-14 2008-05-20      306         384       19052  200805143CS576
3   2008-05-21 2008-05-27      306         384       19052  200805213CS576
4   2008-06-20 2008-06-27      306         384       19053  200806203CS586
..         ...        ...      ...         ...         ...             ...
899 2008-03-22 2008-04-04      306        1226       19049  200803224CS555
900 2008-10-04 2008-10-15      306        1155       19057  200810044CS636
901 2008-12-11 2008-12-15      306        1155       19060  200812114CS676
902 2008-12-17 2008-12-21      306        1226       19060  200812174CS676
903 2008-12-21 2008-12-25      306        1155       19060  200812214CS676

     Custo Unitário  Preço Unitário  Quantidade  Valor Desconto  Valor Venda  \
0            348.58           758.0           6            0.00      4548.00
1            348.58           758.0           6            0.00      4548.00
2            348.58           758.0           6            0.00      4548.00
3            348.58           758.0           6            0.00      4548.00
4            348.58           758.0           6            0.00      4548.00
..              ...             ...         ...             ...          ...
899          330.99           999.0           6          419.58      5574.42
900          324.69           980.0           6         1176.00      4704.00
901          324.69           980.0           6         1176.00      4704.00
902          330.99           999.0           6         1198.80      4795.20
903          324.69           980.0           6         1176.00      4704.00

                                         Produto       Fabricante  \
0          Adventure Works Laptop15.4W M1548 Red  Adventure Works
1          Adventure Works Laptop15.4W M1548 Red  Adventure Works
2          Adventure Works Laptop15.4W M1548 Red  Adventure Works
3          Adventure Works Laptop15.4W M1548 Red  Adventure Works
4          Adventure Works Laptop15.4W M1548 Red  Adventure Works
..                                           ...              ...
899  Fabrikam Trendsetter 1/3'' 8.5mm X200 Black   Fabrikam, Inc.
900   Fabrikam Trendsetter 2/3'' 17mm X100 Black   Fabrikam, Inc.
901   Fabrikam Trendsetter 2/3'' 17mm X100 Black   Fabrikam, Inc.
902  Fabrikam Trendsetter 1/3'' 8.5mm X200 Black   Fabrikam, Inc.
903   Fabrikam Trendsetter 2/3'' 17mm X100 Black   Fabrikam, Inc.

               Marca   Classe    Cor    Custo
0    Adventure Works  Regular    Red  2091.48
1    Adventure Works  Regular    Red  2091.48
2    Adventure Works  Regular    Red  2091.48
3    Adventure Works  Regular    Red  2091.48
4    Adventure Works  Regular    Red  2091.48
..               ...      ...    ...      ...
899         Fabrikam  Regular  Black  1985.94
900         Fabrikam  Regular  Black  1948.14
901         Fabrikam  Regular  Black  1948.14
902         Fabrikam  Regular  Black  1985.94
903         Fabrikam  Regular  Black  1948.14

[904 rows x 17 columns]>

In [15]:
df.head(1)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor,Custo
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red,2091.48

In [16]:
#custo total
round(df["Custo"].sum())

2486783

In [17]:
#valor lucro 
df["Lucro"] = df["Valor Venda"]-df["Custo"]

In [18]:
df.head(1)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor,Custo,Lucro
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red,2091.48,2456.52

In [20]:
#Lucro total
round(df["Lucro"].sum(), 2)

3497823.09

In [28]:
df["Tempo_envio"] = df["Data Envio"] - df["Data Venda"]

In [29]:
df.head(1)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor,Tempo_envio
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red,20 days

In [31]:
df["Tempo_envio"] = (df["Data Envio"] - df["Data Venda"]).dt.days

In [32]:
df.head(1
        )

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor,Tempo_envio
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red,20

In [34]:
df["Tempo_envio"].dtype

dtype('int64')

In [35]:
df.groupby("Marca")["Tempo_envio"].mean()

Marca
Adventure Works    8.663866
Contoso            8.470930
Fabrikam           8.510121
Name: Tempo_envio, dtype: float64

In [37]:
df.isnull().sum()

Data Venda        0
Data Envio        0
ID Loja           0
ID Produto        0
ID Cliente        0
No. Venda         0
Custo Unitário    0
Preço Unitário    0
Quantidade        0
Valor Desconto    0
Valor Venda       0
Produto           0
Fabricante        0
Marca             0
Classe            0
Cor               0
Tempo_envio       0
dtype: int64

In [38]:
df.to_csv("Df_vendas_novo", index=False)